
@import 'bourbon/bourbon';
@import 'base-variables';

@import 'neat/neat';
@import 'reset';

@import 'animations';
@import 'base';

* {
  h1, h2, h3, h4, h5 { 
    line-height: lh();
    font-family: $serif;
  }
  
  h1 { 
    font-size: 1.5em; 
  }
  
  h2 { 
    font-size: 1.3em;
  }
  
  h3 { 
    margin-bottom: lh();
  }
  
  p { 
    line-height: lh(.8);
    font-family: $sans;
   }

  em {
    font-style: italic;
  }

  a:hover {
    @include transition;
  }

  a.visit {
    margin-top: lh();
    @extend .external-link;
  }

  p.visit-wrap {
    margin-top: lh();
  }
 }

.container {
  @include outer-container;
  font-size: 16px;
  padding: 0 lh(2);

  @include breakpoint(max-width 520px) {
    padding: lh(.5)
  }
}

header {
  margin: lh(3) 0;
  @include row;

  @include breakpoint(max-width 520px) {
    margin: lh() 0;
  }

  h1 {
    @include hide-text;
    @extend .animated;
    @extend .clickable;
    @include image-2x('/images/name2x.png', 236px, 34px);
    background-image: url('/images/name.png');
    height: 34px;
    width: 236px;
    background-repeat: no-repeat;

    &:hover {
    }
  }

  h3 {
    text-transform: none;
    margin-bottom: 0;
    margin-top: .5em;
  }

  hgroup {
    @include span-columns(8);

    @include breakpoint(max-width 520px) {
      @include span-columns(12);
    }
   }

  #contact {
    @include span-columns(4); 
    padding-top: lh(.5);

    @include breakpoint(max-width 520px) {
      @include span-columns(12);
    }

    a.button { 
      @include appearance(none);
      @include border-radius(3px);
      @include box-shadow(inset 0px 0px 1px 1px rgba(255,255,255,.1), 0 1px 1px black);
      @include linear-gradient(#f1d17d, #dfc06b);
      border: 1px solid $border-color;
      color: #725710;
      display: block;
      float: right;
      font-size: .875em;
      font-weight: 600;
      padding: 10px 20px;
      text-shadow: 0px 1px #f6e0a8;

      @include breakpoint(max-width 520px) {
        display: inline-block;
        font-size: 1em;
        padding: 20px 30px;
        text-align: center;
        width: 100%;
      }

      &:hover {
        @include linear-gradient(lighten(#f1d17d, 5%), lighten(#dfc06b, 5%));
      }

      &:active {
        @include box-shadow(inset 0px 0px 1px 1px #333, 0px 1px #353535);
        @include linear-gradient(#dfc06b, #f1d176);
      }
    }
  }
}

.project {
  @include row;
  @include span-columns(12);
  display: inline-block;
  padding: lh(4) 0;

  &:first-child {
    padding-top: 0;
  }

  aside.info {
    @include span-columns(3);

    @include breakpoint(max-width 1140px) {
      @include span-columns(5);
    }

    @include breakpoint(max-width 960px) {
      @include span-columns(12);
    }
  }

  section.screenshots {
    @include span-columns(9);
    @include omega;

    &:last-child {
      border-bottom: 0;
    }

    @include breakpoint(max-width 1140px) {
      @include span-columns(7);
    }

    @include breakpoint(max-width 960px) {
      @include span-columns(12);
      border-bottom: 1px dotted black;
      margin: lh(2) 0;

      &:last-child {
        margin-bottom: 0;
        border-bottom: 0;
      }
    }

    img {
      @include border-radius(2px);
      @include box-shadow(0 2px 2px black);
      @include span-columns(12);
      margin-bottom: lh(2);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.footer-wrapper {
  background-color: #1e1e1e;
  padding: lh() 0;
}

footer {
  @include row;

  ul.links {
    @include transition;
    @include user-select(none);
    text-align: right;

    @include breakpoint(max-width 520px) {
      text-align: center;
      margin: 0 auto;
    }

    li {
      @include border-radius(50%);
      @include box-shadow(0px 1px #313131);
      @include linear-gradient(#2a2a2a, #1e1e1e);
      @include user-select(none);
      border: 5px solid #111;
      display: inline-block;
      height: 4.375rem;
      margin-left: 1em;
      position: relative;
      text-align: center;
      width: 4.375rem;

      @include breakpoint(max-width 520px) {
        border: 3px solid #111;
        width: 3.5rem;
        height: 3.5rem;
        margin-left: .5em;
      }

      &:first-child {
        margin-left: 0;
      }
    }

    a {
      @include border-radius(50%);
      @include user-select(none);
      @include transition(none);
      color: black;
      display: block;
      height: 3.25rem;
      width: 3.25rem;
      font-size: 2rem;
      margin: 0;
      padding-top: 14px;
      text-shadow: 0px 1px #333;
      position: absolute;
      top: 4px;
      left: 4px;

      @include breakpoint(max-width 520px) {
        height: 2.5rem;
        font-size: 1.5rem;
        left: 5px;
        padding-top: 11px;
        top: 5px;
        width: 2.5rem;

        &#twitter {
          color: #00acee;
        }

        &#dribbble {
          color: #f15e95;
        }

        &#github {
          color: #aaa;
        }

        &#email {
          color: #bc4212;
        }
      }

      &:active {
        @include linear-gradient(#1e1e1e, #2a2a2a);
        text-shadow: 0px 1px black;
      }

      &#twitter {  

        &:hover {
          color: desaturate(#00acee, 50%);
          text-shadow: none;
        }

        &:active {
          color: #00acee;
        }
      }

      &#dribbble {

        &:hover {
          color: desaturate(#f15e95, 50%);
          text-shadow: none;
        }

        &:active {
          color: #f15e95;
        }
      }

      &#github {

        &:hover {
          color: #999;
          text-shadow: none;
        }

        &:active {
          color: #aaa;
        }
      }

      &#email {
      
        &:hover {
          color: desaturate(#bc4212, 50%);
          text-shadow: none;
        }

        &:active {
          color: #bc4212;
          text-shadow: 0px 1px black;
        }
      }
    }
  }
}
