* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.animation-slideup, ul.links li a > i:hover {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve-3d; }

.animation-slideup {
  -webkit-animation-name: slideup;
  -moz-animation-name: slideup;
  animation-name: slideup;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slideup {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }

  to {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); } }

@-moz-keyframes slideup {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }

  to {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); } }

@keyframes slideup {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }

  to {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); } }

.animation-fadein {
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  animation-name: fadein;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-webkit-keyframes woggle {
  20% {
    -webkit-transform: rotate(8deg); }

  40% {
    -webkit-transform: rotate(-6deg); }

  60% {
    -webkit-transform: rotate(4deg); }

  80% {
    -webkit-transform: rotate(-3deg); }

  90% {
    -webkit-transform: rotate(1deg); }

  100% {
    -webkit-transform: rotate(0deg); } }

@-moz-keyframes woggle {
  20% {
    -moz-transform: rotate(8deg); }

  40% {
    -moz-transform: rotate(-6deg); }

  60% {
    -moz-transform: rotate(4deg); }

  80% {
    -moz-transform: rotate(-3deg); }

  90% {
    -moz-transform: rotate(1deg); }

  100% {
    -moz-transform: rotate(0deg); } }

@-o-keyframes woggle {
  20% {
    -o-transform: rotate(8deg); }

  40% {
    -o-transform: rotate(-6deg); }

  60% {
    -o-transform: rotate(4deg); }

  80% {
    -o-transform: rotate(-3deg); }

  90% {
    -o-transform: rotate(1deg); }

  100% {
    -o-transform: rotate(0deg); } }

@keyframes woggle {
  20% {
    transform: rotate(8deg); }

  40% {
    transform: rotate(-6deg); }

  60% {
    transform: rotate(4deg); }

  80% {
    transform: rotate(-3deg); }

  90% {
    transform: rotate(1deg); }

  100% {
    transform: rotate(0deg); } }

* a.visit {
  background: url("/images/external-link.png") no-repeat right -8px;
  padding-right: 1em; }
  * a.visit:hover {
    background-position: right 8px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #222;
  color: #999;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialised; }

div.inner-wrapper {
  padding: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: white; }

a, a:link, a:active, a:visited {
  color: #bc4212;
  text-decoration: none; }

a:hover {
  color: #76290b; }

::selection {
  background: #bc4212; }

::-moz-selection {
  background: #bc4212; }

* h1, * h2, * h3, * h4, * h5 {
  line-height: 1.618em;
  font-family: "chaparral-pro", Georgia, Cambria, "Times New Roman", Times, serif; }
* h1 {
  font-size: 1.5em; }
* h2 {
  font-size: 1.3em; }
* h3 {
  margin-bottom: 1.618em; }
* p {
  line-height: 1.2944em;
  font-family: "ff-meta-web-pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }
* em {
  font-style: italic; }
* a.visit {
  margin-top: 1.618em; }
* p.visit-wrap {
  margin-top: 1.618em; }

.container {
  *zoom: 1;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  padding: 0 3.236em; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both; }
  @media screen and (max-width: 520px) {
    .container {
      padding: 0.809em; } }

header {
  margin: 4.854em 0;
  *zoom: 1;
  display: block; }
  header:before, header:after {
    content: " ";
    display: table; }
  header:after {
    clear: both; }
  @media screen and (max-width: 520px) {
    header {
      margin: 1.618em 0; } }
  header h1 {
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    background-image: url("/images/name.png");
    height: 34px;
    width: 236px;
    background-repeat: no-repeat; }
    @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
      header h1 {
        background-image: url("/images/name2x.png");
        background-size: 236px 34px; } }
  header h3 {
    text-transform: none;
    margin-bottom: 0;
    margin-top: .5em; }
  header hgroup {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    header hgroup:last-child {
      margin-right: 0; }
    @media screen and (max-width: 520px) {
      header hgroup {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        header hgroup:last-child {
          margin-right: 0; } }
  header #contact {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    padding-top: 0.809em; }
    header #contact:last-child {
      margin-right: 0; }
    @media screen and (max-width: 520px) {
      header #contact {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        header #contact:last-child {
          margin-right: 0; } }
    header #contact a.button {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.1), 0 1px 1px black;
      background-color: #f1d17d;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1d17d), color-stop(100%, #dfc06b));
      background-image: -webkit-linear-gradient(#f1d17d, #dfc06b);
      background-image: linear-gradient(#f1d17d, #dfc06b);
      -webkit-transition: all 0.15s ease-out 0;
      -moz-transition: all 0.15s ease-out 0;
      transition: all 0.15s ease-out 0;
      border-radius: 3px;
      border: 1px solid black;
      color: #725710;
      display: block;
      float: right;
      font-size: .875em;
      font-weight: 600;
      padding: 10px 20px;
      text-shadow: 0px 1px #f6e0a8; }
      @media screen and (max-width: 520px) {
        header #contact a.button {
          display: inline-block;
          font-size: 1em;
          padding: 20px 30px;
          text-align: center;
          width: 100%; } }
      header #contact a.button:hover {
        background-color: #f3d994;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3d994), color-stop(100%, #e4c980));
        background-image: -webkit-linear-gradient(#f3d994, #e4c980);
        background-image: linear-gradient(#f3d994, #e4c980); }
      header #contact a.button:active {
        box-shadow: inset 0px 0px 1px 1px #333333, 0px 1px #353535;
        background-color: #dfc06b;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfc06b), color-stop(100%, #f1d176));
        background-image: -webkit-linear-gradient(#dfc06b, #f1d176);
        background-image: linear-gradient(#dfc06b, #f1d176); }

.project {
  *zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  display: inline-block;
  padding: 6.472em 0; }
  .project:before, .project:after {
    content: " ";
    display: table; }
  .project:after {
    clear: both; }
  .project:last-child {
    margin-right: 0; }
  .project:first-child {
    padding-top: 0; }
  .project aside.info {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .project aside.info:last-child {
      margin-right: 0; }
    @media screen and (max-width: 1140px) {
      .project aside.info {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 40.29137%; }
        .project aside.info:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 960px) {
      .project aside.info {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        .project aside.info:last-child {
          margin-right: 0; } }
  .project section.screenshots {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-right: 0; }
    .project section.screenshots:last-child {
      margin-right: 0; }
    .project section.screenshots:last-child {
      border-bottom: 0; }
    @media screen and (max-width: 1140px) {
      .project section.screenshots {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 57.35098%; }
        .project section.screenshots:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 960px) {
      .project section.screenshots {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%;
        border-bottom: 1px dotted black;
        margin: 3.236em 0; }
        .project section.screenshots:last-child {
          margin-right: 0; }
        .project section.screenshots:last-child {
          margin-bottom: 0;
          border-bottom: 0; } }
    .project section.screenshots img {
      box-shadow: 0 2px 2px black;
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      border-radius: .125em;
      margin-bottom: 3.236em; }
      .project section.screenshots img:last-child {
        margin-right: 0; }
      .project section.screenshots img:last-child {
        margin-bottom: 0; }

.footer-wrapper {
  padding: 1.618em 0; }

footer {
  *zoom: 1;
  display: block; }
  footer:before, footer:after {
    content: " ";
    display: table; }
  footer:after {
    clear: both; }
  footer ul.links {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-align: right; }
    @media screen and (max-width: 520px) {
      footer ul.links {
        text-align: center;
        margin: 0 auto; } }
    footer ul.links li {
      display: inline-block;
      margin-left: 1.5em; }
      footer ul.links li:first-child {
        margin-left: 0; }

ul.links li a {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: rgba(255, 255, 255, 0.1);
  display: block; }
  ul.links li a > i {
    display: block;
    font-size: 36px;
    height: 36px;
    line-height: 46px;
    position: relative;
    width: 36px; }
    ul.links li a > i:hover {
      -webkit-animation: woggle 0.35s;
      -moz-animation: woggle 0.35s;
      animation: woggle 0.35s; }
    ul.links li a > i > .pulse {
      -webkit-transition: 0.275s cubic-bezier(0.25, 0.75, 0.15, 1.5);
      -moz-transition: 0.275s cubic-bezier(0.25, 0.75, 0.15, 1.5);
      transition: 0.275s cubic-bezier(0.25, 0.75, 0.15, 1.5);
      background: none;
      border-radius: 50%;
      border: 1px solid rgba(255, 255, 255, 0.1);
      bottom: 0;
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0; }
  ul.links li a:hover .pulse {
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1; }
  @media screen and (max-width: 520px) {
    ul.links li a#twitter {
      color: #1dcaff; }
    ul.links li a#dribbble {
      color: #f15e95; }
    ul.links li a#github {
      color: #999999; }
    ul.links li a#email {
      color: #db4336; }
    ul.links li a#rdio {
      color: #008fd5; } }
  ul.links li a#twitter:hover {
    color: #1dcaff; }
  ul.links li a#twitter .pulse {
    border-color: #1dcaff; }
  ul.links li a#twitter:active {
    color: #00b2e9; }
  ul.links li a#dribbble:hover {
    color: #f15e95; }
  ul.links li a#dribbble .pulse {
    border-color: #f15e95; }
  ul.links li a#dribbble:active {
    color: #ed2f76; }
  ul.links li a#github:hover {
    color: #999999; }
  ul.links li a#github .pulse {
    border-color: #999999; }
  ul.links li a#github:active {
    color: gray; }
  ul.links li a#email:hover {
    color: #db4336; }
  ul.links li a#email .pulse {
    border-color: #db4336; }
  ul.links li a#email:active {
    color: #bc2e22; }
  ul.links li a#rdio:hover {
    color: #008fd5; }
  ul.links li a#rdio .pulse {
    border-color: #008fd5; }
  ul.links li a#rdio:active {
    color: #006da2; }
