* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Global Reset
------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.force3d, .animation-slideup {
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform-style: preserve-3d; }

.animation-slideup {
  -webkit-animation-name: slideup;
  -moz-animation-name: slideup;
  animation-name: slideup;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes slideup {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }

  to {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); } }

@-moz-keyframes slideup {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }

  to {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); } }

@keyframes slideup {
  from {
    -webkit-transform: translate3d(0, 50px, 0);
    -moz-transform: translate3d(0, 50px, 0);
    -ms-transform: translate3d(0, 50px, 0);
    -o-transform: translate3d(0, 50px, 0);
    transform: translate3d(0, 50px, 0); }

  to {
    -webkit-transform: translate3d(0, 0px, 0);
    -moz-transform: translate3d(0, 0px, 0);
    -ms-transform: translate3d(0, 0px, 0);
    -o-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0); } }

.animation-fadein {
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  animation-name: fadein;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both; }

@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@-moz-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }

.animated, header h1 {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -ms-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s; }

.animated.hinge, header h1.hinge {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
  animation-duration: 2s; }

@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: skewX(9deg); }

  10% {
    -webkit-transform: skewX(-8deg); }

  20% {
    -webkit-transform: skewX(7deg); }

  30% {
    -webkit-transform: skewX(-6deg); }

  40% {
    -webkit-transform: skewX(5deg); }

  50% {
    -webkit-transform: skewX(-4deg); }

  60% {
    -webkit-transform: skewX(3deg); }

  70% {
    -webkit-transform: skewX(-2deg); }

  80% {
    -webkit-transform: skewX(1deg); }

  90% {
    -webkit-transform: skewX(0deg); }

  100% {
    -webkit-transform: skewX(0deg); } }

@-moz-keyframes wiggle {
  0% {
    -moz-transform: skewX(9deg); }

  10% {
    -moz-transform: skewX(-8deg); }

  20% {
    -moz-transform: skewX(7deg); }

  30% {
    -moz-transform: skewX(-6deg); }

  40% {
    -moz-transform: skewX(5deg); }

  50% {
    -moz-transform: skewX(-4deg); }

  60% {
    -moz-transform: skewX(3deg); }

  70% {
    -moz-transform: skewX(-2deg); }

  80% {
    -moz-transform: skewX(1deg); }

  90% {
    -moz-transform: skewX(0deg); }

  100% {
    -moz-transform: skewX(0deg); } }

@-o-keyframes wiggle {
  0% {
    -o-transform: skewX(9deg); }

  10% {
    -o-transform: skewX(-8deg); }

  20% {
    -o-transform: skewX(7deg); }

  30% {
    -o-transform: skewX(-6deg); }

  40% {
    -o-transform: skewX(5deg); }

  50% {
    -o-transform: skewX(-4deg); }

  60% {
    -o-transform: skewX(3deg); }

  70% {
    -o-transform: skewX(-2deg); }

  80% {
    -o-transform: skewX(1deg); }

  90% {
    -o-transform: skewX(0deg); }

  100% {
    -o-transform: skewX(0deg); } }

@keyframes wiggle {
  0% {
    transform: skewX(9deg); }

  10% {
    transform: skewX(-8deg); }

  20% {
    transform: skewX(7deg); }

  30% {
    transform: skewX(-6deg); }

  40% {
    transform: skewX(5deg); }

  50% {
    transform: skewX(-4deg); }

  60% {
    transform: skewX(3deg); }

  70% {
    transform: skewX(-2deg); }

  80% {
    transform: skewX(1deg); }

  90% {
    transform: skewX(0deg); }

  100% {
    transform: skewX(0deg); } }

.wiggle {
  -webkit-animation-name: wiggle;
  -moz-animation-name: wiggle;
  -o-animation-name: wiggle;
  animation-name: wiggle;
  -webkit-animation-timing-function: ease-in;
  -moz-animation-timing-function: ease-in;
  -o-animation-timing-function: ease-in;
  animation-timing-function: ease-in; }

@-webkit-keyframes hinge {
  0% {
    -webkit-transform: rotate(0);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out; }

  20%, 60% {
    -webkit-transform: rotate(80deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out; }

  40% {
    -webkit-transform: rotate(60deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out; }

  80% {
    -webkit-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out; }

  100% {
    -webkit-transform: translateY(700px);
    opacity: 0; } }

@-moz-keyframes hinge {
  0% {
    -moz-transform: rotate(0);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out; }

  20%, 60% {
    -moz-transform: rotate(80deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out; }

  40% {
    -moz-transform: rotate(60deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out; }

  80% {
    -moz-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out; }

  100% {
    -moz-transform: translateY(700px);
    opacity: 0; } }

@-o-keyframes hinge {
  0% {
    -o-transform: rotate(0);
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out; }

  20%, 60% {
    -o-transform: rotate(80deg);
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out; }

  40% {
    -o-transform: rotate(60deg);
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out; }

  80% {
    -o-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -o-transform-origin: top left;
    -o-animation-timing-function: ease-in-out; }

  100% {
    -o-transform: translateY(700px);
    opacity: 0; } }

@keyframes hinge {
  0% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }

  20%, 60% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }

  40% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }

  80% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out; }

  100% {
    transform: translateY(700px);
    opacity: 0; } }

.hinge {
  -webkit-animation-name: hinge;
  -moz-animation-name: hinge;
  -o-animation-name: hinge;
  animation-name: hinge; }

.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.external-link, * a.visit {
  background: url("/images/external-link.png") no-repeat right -8px;
  padding-right: 16px; }
  .external-link:hover, * a.visit:hover {
    background-position: right 8px; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #222;
  color: #999;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialised; }

div.inner-wrapper {
  padding: 20px; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 100;
  color: white; }

a, a:link, a:active, a:visited {
  color: #bc4212;
  text-decoration: none; }

a:hover {
  color: #76290b; }

::selection {
  background: #bc4212; }

::-moz-selection {
  background: #bc4212; }

* h1, * h2, * h3, * h4, * h5 {
  line-height: 1.618em;
  font-family: "chaparral-pro", Georgia, Cambria, "Times New Roman", Times, serif; }
* h1 {
  font-size: 1.5em; }
* h2 {
  font-size: 1.3em; }
* h3 {
  margin-bottom: 1.618em; }
* p {
  line-height: 1.2944em;
  font-family: "ff-meta-web-pro", "Helvetica Neue", Helvetica, Arial, sans-serif; }
* em {
  font-style: italic; }
* a:hover {
  -webkit-transition: all 0.15s ease-out 0;
  -moz-transition: all 0.15s ease-out 0;
  -ms-transition: all 0.15s ease-out 0;
  -o-transition: all 0.15s ease-out 0;
  transition: all 0.15s ease-out 0; }
* a.visit {
  margin-top: 1.618em; }
* p.visit-wrap {
  margin-top: 1.618em; }

.container {
  zoom: 1;
  max-width: 1140px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  padding: 0 3.236em; }
  .container:before, .container:after {
    content: "";
    display: table; }
  .container:after {
    clear: both; }
  @media screen and (max-width: 520px) {
    .container {
      padding: 0.809em; } }

header {
  margin: 4.854em 0;
  zoom: 1;
  display: block; }
  header:before, header:after {
    content: "";
    display: table; }
  header:after {
    clear: both; }
  @media screen and (max-width: 520px) {
    header {
      margin: 1.618em 0; } }
  header h1 {
    background-color: transparent;
    border: 0;
    color: transparent;
    font: 0/0 a;
    text-shadow: none;
    background-image: url("/images/name.png");
    height: 34px;
    width: 236px;
    background-repeat: no-repeat; }
  header h3 {
    text-transform: none;
    margin-bottom: 0;
    margin-top: .5em; }
  header hgroup {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 65.88078%; }
    header hgroup:last-child {
      margin-right: 0; }
    @media screen and (max-width: 520px) {
      header hgroup {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        header hgroup:last-child {
          margin-right: 0; } }
  header #contact {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 31.76157%;
    padding-top: 0.809em; }
    header #contact:last-child {
      margin-right: 0; }
    @media screen and (max-width: 520px) {
      header #contact {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        header #contact:last-child {
          margin-right: 0; } }
    header #contact a.button {
      -webkit-appearance: none;
      -moz-appearance: none;
      -ms-appearance: none;
      -o-appearance: none;
      appearance: none;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.1), 0 1px 1px black;
      box-shadow: inset 0px 0px 1px 1px rgba(255, 255, 255, 0.1), 0 1px 1px black;
      background-color: #f1d17d;
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1d17d), color-stop(100%, #dfc06b));
      background-image: -webkit-linear-gradient(top, #f1d17d, #dfc06b);
      background-image: -moz-linear-gradient(top, #f1d17d, #dfc06b);
      background-image: -ms-linear-gradient(top, #f1d17d, #dfc06b);
      background-image: -o-linear-gradient(top, #f1d17d, #dfc06b);
      background-image: linear-gradient(top, #f1d17d, #dfc06b);
      border: 1px solid black;
      color: #725710;
      display: block;
      float: right;
      font-size: .875em;
      font-weight: 600;
      padding: 10px 20px;
      text-shadow: 0px 1px #f6e0a8; }
      @media screen and (max-width: 520px) {
        header #contact a.button {
          display: inline-block;
          font-size: 1em;
          padding: 20px 30px;
          text-align: center;
          width: 100%; } }
      header #contact a.button:hover {
        background-color: #f3d994;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3d994), color-stop(100%, #e4c980));
        background-image: -webkit-linear-gradient(top, #f3d994, #e4c980);
        background-image: -moz-linear-gradient(top, #f3d994, #e4c980);
        background-image: -ms-linear-gradient(top, #f3d994, #e4c980);
        background-image: -o-linear-gradient(top, #f3d994, #e4c980);
        background-image: linear-gradient(top, #f3d994, #e4c980); }
      header #contact a.button:active {
        -webkit-box-shadow: inset 0px 0px 1px 1px #333333, 0px 1px #353535;
        box-shadow: inset 0px 0px 1px 1px #333333, 0px 1px #353535;
        background-color: #dfc06b;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dfc06b), color-stop(100%, #f1d176));
        background-image: -webkit-linear-gradient(top, #dfc06b, #f1d176);
        background-image: -moz-linear-gradient(top, #dfc06b, #f1d176);
        background-image: -ms-linear-gradient(top, #dfc06b, #f1d176);
        background-image: -o-linear-gradient(top, #dfc06b, #f1d176);
        background-image: linear-gradient(top, #dfc06b, #f1d176); }

.project {
  zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  display: inline-block;
  padding: 6.472em 0; }
  .project:before, .project:after {
    content: "";
    display: table; }
  .project:after {
    clear: both; }
  .project:last-child {
    margin-right: 0; }
  .project:first-child {
    padding-top: 0; }
  .project aside.info {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 23.23176%; }
    .project aside.info:last-child {
      margin-right: 0; }
    @media screen and (max-width: 1140px) {
      .project aside.info {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 40.29137%; }
        .project aside.info:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 960px) {
      .project aside.info {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        .project aside.info:last-child {
          margin-right: 0; } }
  .project section.screenshots {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 74.41059%;
    margin-right: 0; }
    .project section.screenshots:last-child {
      margin-right: 0; }
    .project section.screenshots:last-child {
      border-bottom: 0; }
    @media screen and (max-width: 1140px) {
      .project section.screenshots {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 57.35098%; }
        .project section.screenshots:last-child {
          margin-right: 0; } }
    @media screen and (max-width: 960px) {
      .project section.screenshots {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%;
        border-bottom: 1px dotted black;
        margin: 3.236em 0; }
        .project section.screenshots:last-child {
          margin-right: 0; }
        .project section.screenshots:last-child {
          margin-bottom: 0;
          border-bottom: 0; } }
    .project section.screenshots img {
      -webkit-border-radius: 2px;
      border-radius: 2px;
      -webkit-box-shadow: 0 2px 2px black;
      box-shadow: 0 2px 2px black;
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      margin-bottom: 3.236em; }
      .project section.screenshots img:last-child {
        margin-right: 0; }
      .project section.screenshots img:last-child {
        margin-bottom: 0; }

.footer-wrapper {
  background-color: #1e1e1e;
  padding: 1.618em 0; }
  @media screen and (max-width: 520px) {
    .footer-wrapper {
      border-top: none; } }

footer {
  zoom: 1;
  display: block; }
  footer:before, footer:after {
    content: "";
    display: table; }
  footer:after {
    clear: both; }
  footer ul.links {
    -webkit-transition: all 0.15s ease-out 0;
    -moz-transition: all 0.15s ease-out 0;
    -ms-transition: all 0.15s ease-out 0;
    -o-transition: all 0.15s ease-out 0;
    transition: all 0.15s ease-out 0;
    text-align: right; }
    @media screen and (max-width: 520px) {
      footer ul.links {
        text-align: center; } }
    footer ul.links li {
      display: inline-block;
      margin-left: 1em;
      padding-top: 5px; }
      @media screen and (max-width: 520px) {
        footer ul.links li {
          margin-left: 1em;
          padding-top: 0; } }
      footer ul.links li:first-child {
        margin-left: 0; }
    footer ul.links a {
      color: #474747;
      font-size: 2rem;
      margin: 0;
      padding: 0;
      text-shadow: 0px 1px #333; }
      @media screen and (max-width: 520px) {
        footer ul.links a#twitter {
          color: #00acee; }
        footer ul.links a#dribbble {
          color: #f15e95; }
        footer ul.links a#github {
          color: #aaa; }
        footer ul.links a#email {
          color: #bc4212; } }
      footer ul.links a#twitter:hover {
        color: #00acee; }
      footer ul.links a#dribbble:hover {
        color: #f15e95;
        text-shadow: none; }
      footer ul.links a#github:hover {
        color: #aaa;
        text-shadow: none; }
      footer ul.links a#email:hover {
        color: #bc4212;
        text-shadow: none; }
